@model Property_rental_management_system.Models.property

@{
    ViewBag.Title = "PropertyDetails";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}


<h4>Are you interested in this property ? then message us</h4>
@using (Html.BeginForm("UpdateMessage", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.propertyId)

    <div>
        <label for="solution">Solution:</label>
        @Html.TextAreaFor(m => m.Messages, new { rows = 4, cols = 40 })
    </div>

    <div>
        <input type="submit" value="Update message"   />
    </div>
}





