@{
    ViewBag.Title = "About";
}
<link href="~/Content/css/about.css" rel="stylesheet" />
<main aria-labelledby="title" class="main_about">

    <div class="heading">
        <h1>About us</h1>
        <p>
            You can easily find your desired property and send
            us a message, we will reach out to you promptly
        </p>
    </div>

    <section class="about-us">
        <img src="~/Content/images/pexels-monstera-5849574.jpg" />
        <div class="content">
            <h2>
                Welcome to Home away, your one-stop solution for managing property rentals with ease and efficiency.
                At Home away, our mission is to provide a comprehensive platform that
                streamlines property management tasks,enhances communication between
                property owners and tenants. We strive to make property rental management a seamless
                experience,enabling our users to maximize their rental income and maintain high tenant satisfaction.
                Search for properties available near your location.

            </h2>

        </div>
    </section>
</main>